<div class="container mb-5 mt-5">
    <div class="row">
      
      <div class="col-md-6 text-center">
        <div class="">
          <h3><%= user.name %></h3>
        </div>
        
        <% if @user.picture.present? %>
          <%= image_tag(@user.picture_url, :size => "300x300") %>
        <% else %>
          <%= image_tag("default.jpg", :size => "300x300") %>
        <% end %>

      <% if current_user == user %>
        <div class="">
          <%= link_to 'Profileを編集する', edit_user_path(user) %>
        </div>
      <% end %>
      </div>
      <% if current_user == user %>
        <div class="col-md-3 mt-5">
          <%= link_to 'Lessonを受講', lessons_path, class: "btn btn-success btn-block mb-5" %>
          <%= link_to 'Lesson作成', new_lesson_path, class: "btn btn-success btn-block " %>
        </div>
      <% else %>
      <div class="col-md-6 mt-5">
        <%= link_to '一覧に戻る', users_path, class: "col-md-3 btn btn-success btn-block" %>
      </div>
      <% end %>
        
    </div>
  </div>