<% if lessons.any? %>
  <ul class="list-unstyled">
    <% lessons.each do |lesson| %>
      <li class="media">
        <img class="mr-2 rounded" src="" alt="">
        <div class="media-body">
          <div>
            <%= lesson.title %>
          </div>
          <div>
            <p><%= lesson.subtitle %></p>
          </div>
          <div>
            <% if current_user == lesson.user %>
              <p><%= link_to '詳細', lesson_path(lesson) %></p>
              <p><%= link_to '編集', edit_lesson_path(lesson) %></p>
              <p><%= link_to '削除', lesson, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate lessons %>
<% end %>