
<div class="container mt-3">
  <h1><%= @lesson.title %></h1>
  <p><%= @lesson.subtitle %></p>
  <div class="card mt-5 mb-5">
    <div class="card-body">
      <p class="card-text"><%= simple_format(@lesson.content) %></p>
      
      <!--<%= image_tag(@lesson.picture_url) if @lesson.picture.present? %>-->
      <!--<p><%= @lesson.comment if @lesson.picture.present? %></p>-->
      <div class="text-center mt-5">
        <%= video_tag @lesson.video_url.to_s,loop: true, controls: true, width: 600, height: 400 ,id: "mv" %>
      </div>
      
    </div>
  </div>
    <%= link_to '受講中のユーザー', attendance_user_lesson_path(@lesson) %>
  <div>
    <%= link_to '一覧へ戻る', lessons_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>